.container {
  background: #6FDC6F;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 10px;
  margin-left: 10px;
  width: 250px;
  height: 500px;    
  padding: 5px;
  border: #FBF4ED;
  font-size: 14px;
} 
.container a {
 color: white;
}
.body container {
    background-color: #FFE34C;
}
.container u1 {
  list-style: none;
}