	<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<link rel="stylesheet" href="filt.css">
<body>
	<div class="categories">
	 <div class="container">
	 
	   <div class="css-treeview">  
		<div class="col-md-4 products-left">
			<div class="filter-price">
				<h3 style="text-align:center;">Filters</h3>
					
			</div>
<!------------------------------------------------------------------------------>               			
				<div class="col-md-4 products-right">		
			<div class="sort-grid">
				<div class="sorting">
					<h4>Sort By</h4>
					<select id="bspl1" onchange="change_bspl(this.value)" class="frm-field ">
						<option value="null"><a href="#">Default</a></option>
						<option value="null"><a href="#">Name(A - Z)</a></option> 
						<option value="null"><a href="#">Name(Z - A)</a></option>
						<option value="null"><a href="#">Price(High - Low)</a></option>
						<option value="null"><a href="#">Price(Low - High)</a></option>	
										
					</select>
					<div class="clearfix"></div>
				</div>
<!------------------------------------------------------------------------------>
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
                <body ng-app="">
				<ul class="tree-list-pad">
					<li><input type="checkbox" checked="checked" ng-model="myVr" id="item-0" /><label for="item-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Discount</label>
					<div ng-hide="myVr">
						<ul>
									        <li><a href="#">less than 10%</a></li>
											<li><a href="#">10% or more</a></li>
											<li><a href="#">20% or more</a></li>
											<li><a href="#">30% or more</a></li>
											<li><a href="#">40% or more</a></li>
											<li><a href="#">50% or more</a></li>
											
								</ul>
							</div>
						</li>
					</ul>
							<style>
						#item-0 {
    display: none; /* visibility: hidden works too */
}​
     </style>
<!----------------------------------------------------------------------->
               <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
                <body ng-app="">	
                <ul class="tree-list-pad">				
					<li><input type="checkbox" checked="checked" ng-model="myVar" id="item-1" /><label for="item-1"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Customer Rating</label>
					<div ng-hide="myVar">
						<ul>	
									        <li><a href="#">4& Above</a></li>
											<li><a href="#">3& Above</a></li>
											<li><a href="#">2& Above</a></li>
											<li><a href="#">1& Above</a></li>
							</ul>
							</div>
						</li>
						
						<style>
						#item-1 {
    display: none; /* visibility: hidden works too */

}
</style>  
</div> 
<!-----------------------------------------------------------------------> 


<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("mybs");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
                <body ng-app="">
				<ul class="tree-list-pad">
					<li><input type="checkbox" checked="checked" ng-model="myVa" id="item-2" /><label for="item-2"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Available</label><br><br>
					<div ng-hide="myVa">
					<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for meat.."><br>
						<ul id="mybs">
									        <li><a href="#">Chicken</a></li>
											<li><a href="#">Mutton</a></li>
											<li><a href="#">Eggs</a></li>
											<li><a href="#">Bulk orders</a></li>
											
								</ul>
							</div>
						</li>
					</ul>
							<style>
						#item-2 {
    display: none; /* visibility: hidden works too */
}​
     </style>
					</div>		
				</div>
				</div>
				
				</body>
				</html>